/* ========== GLOBAL STYLES ========== */
/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body-font: "DM Sans", sans-serif;
  --heading-font: "DM Sans", sans-serif;
  --primary-color: #37312f;
  --secondary-color: #b32226;
  --light-color: #ebe5cf;
  --dark-color: #0f0c07;
}

body {
  color: var(--primary-color);
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  background-color: #f8f6f4;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: 400;
  color: var(--primary-color);
}

h1 { font-size: 45px; line-height: 1; color:#37312f; font-style: normal;}
h2 { font-size: 40px; line-height: 1; color:#37312f; font-style: normal;font-weight: 500;}
h3 { font-size: 30px; line-height: normal;color:#37312f; font-style: normal; font-weight: 500;}
p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71;
}

/* Links & Buttons */
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.5s ease;
font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #fff;
}

.btn-primary {
  border: 1px solid var(--light-color);
cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    width: 100%;
    border: solid 1px #fff;
    background-color: rgb(255 255 255 / 10%);
    text-decoration: none;
    padding: 14.75px 40px;
    max-width: fit-content;
    text-transform: uppercase;
}
.link-primary{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 2px;
    color: #37312f;
}
.btn-primary:hover {
     background-color: #fff;
    border: 1px solid #fff;
    color: #37312f !important;
}

.btn-primary:hover::before {
  display: none;
}
.btn-secondary{
  line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    padding: 14.75px 40px;
    max-width: fit-content;
    text-transform: uppercase;
    background-color: #bdbb83;
    border: 1px solid #bdbb83;
    color: #37312f;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
}
.text-center{
text-align:center;
}
.flex {
    display: flex;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
/* Layout Containers */
.container-1440 {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.container-1340 {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 30px;
}

.container-1280 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Utility Classes */
.flex-align-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.image-section img {
  width: 100%;
  display: block;
}
@media (max-width:768px){
  h1{
    line-height: 1.17;
    font-size: 30px;
  }
  
  h2{
    font-size: 28px;
    line-height: 1.07;
  }
}

/* ========== HEADER SECTION ========== */
/* Announcement Bar */

.announcement-bar {
  background-color: #f8f6f4;
  height: 34px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.announcement-bar .container-1440 {
  position: relative;
  text-align: center;
}
.announcement-bar p,
.announcement-bar a {
 font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #37312f;
}
.announcement-bar p a {
  text-decoration: underline;
}
.announcement-bar .close {
  position: absolute;
  right: 30px;
  top: 3px;
}
a#close-announcement svg * {
    stroke: #37312f;
    fill: #37312f;
}

@media(max-width:480px){
  .announcement-bar p a {
    display: block;
}
.announcement-bar {
    padding: 5px;
    height: auto;
}
}
/* Main Header */
header {
    position: relative;
    z-index: 10;
    transition: all 0.3s ease;
    position: fixed;
    width: 100%;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.hamburger-section{
  display: none;;
}
.close img {
  width: 20px;
}
/* Navigation */
.header-inner nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header-inner nav ul li a {
  padding: 35px 0;
  display: block;
  text-transform: uppercase;
color:white;
   font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
}

/* Logo */
.logo img {
    width: 150px;
    height: 50px;
  object-fit: contain;
  transition: all 0.3s ease;
}
.black-logo {
    display: none;
}
.fixed-header .white-logo {
    display: none;
}
.fixed-header .black-logo{
    display: block;
}
/* Utility Navigation */
.utility-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -22px;
  right: -4px;
  width: 14px;
  height: 14px;
  background-color: #4a7342;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
}

/* Fixed Header State */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 999;
  background-color: white;
}


.fixed-header .announcement-bar {
  display: none;
}

.fixed-header .header-inner nav ul li a {
  padding: 27px 0;
  color: black;
}
.fixed-header .header-inner nav ul li a {
    color: black;
}
.fixed-header .utility-nav li a svg *{
    stroke: #37312f;
   
}
@media(max-width:991px){
  .hamburger-section{
    display: block;
  }
  .fixed-header .logo img, .logo img {
    width: 70px;
    height: auto;
}
.utility-nav li:nth-child(1), .utility-nav li:nth-child(2) {
  display: none;
}
.hamburger-section .close {
  display: none;
}
.menu-open .hamburger-icon {
  display: none;
}
.menu-open .close {
  display: block;
}
nav#navbar-collapse {
  position: absolute;
  width: 100%;
  background: #f8f6f0;
  left: 0px;
  top: 63px;
  left: -100%;
  height: 100vh;
  transition: .3s;
}
.header-inner nav ul {
  flex-direction: column;
  padding: 20px;
  gap: 0px;
}
.header-inner nav ul li a {
  padding: 10px 0px;
  border-bottom: 1px solid #e4d3d3;

}

.menu-open nav#navbar-collapse {
  left: 0px;
  border-top: 1px solid #dcd8d8;
  transition: .3s;
}

.header-inner {
  padding: 13px 30px;
}
.fixed-header .header-inner nav ul li a {
  padding: 10px;
}
.fixed-header nav#navbar-collapse {
  top: 79px;
}
    .fixed-header a#hamburger svg * {
    stroke: black;
}
}

/* ========== HERO SLIDER SECTION ========== */
.hero-slider {
  position: relative;
  overflow: hidden;
}
.slide-content picture,
.slide-content img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}
/* Slide Styling */
.slide-inner {
  box-sizing: border-box;
  height: 670px;
  position: relative;
}
.slide-inner:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    opacity: .5;
    background: #000;
    content: "";
}
.slide-inner .image-section{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.slide-content {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.three-column-collectionslider .image-section {
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    object-position: top;
    bottom: 0px;
    position: absolute;
    display: block;
    height: calc(100% - 140px);
    width: 100%;
    top: 140px;
}
.three-column-collectionslider .image-section img {
    position: absolute;
    object-fit: cover;
     width: 100%;
    height: 100%;
    object-position: top;
    left: 0;
    top: 0;
   
}
.three-column-collectionslider h3 {
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #fff;
}
/* Text Block */
.text-block {
  color: white;
  text-align: center;
  z-index: 2;
  position: relative;
  max-width: 610px;
  text-align: center;
}

.text-block h2 {
  color: white;
}

.text-block p {
  padding: 20px 0;
}
.text-block .btn-primary:hover::before {
  color:white;
  display:block;
}
.text-block .btn-primary:hover {
  color: white;
}
.slide-content .container-1280 {
  height: 100%;
  display: flex;
  align-items: center;
    justify-content: center;
}
/* Navigation Arrows */
.swiper-prev,
.swiper-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}
.swiper-prev { left: 40px; }
.swiper-next { right: 40px; }

@media (max-width:900px) {
  .text-block {
    position: unset;
    transform: unset;
    padding: 20px 0px;
    width: 100%;
    max-width: 100%;
}

.slide-content:before {
    display: none;
}

.text-block h2, .text-block p{
    color: white;
}

}

@media (max-width:768px){
  .text-block h2, .text-block p {
    color: black;
}
.slide-inner:before{
  display:none;
}
  .slide-inner .image-section {
    position: unset;
}
.slide-inner .image-section {
    position: relative;
}
.slide-inner .image-section:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    opacity: .5;
    background: #000;
    content: "";
}
.slide-inner {
    height: auto;
}
.swiper-next {
  right: 18px;
}
.swiper-prev{
  left:18px;
}
.swiper-next, .swiper-prev{
  display:none;
}
.text-block .btn-primary {
    background: white;
    color: black;
    border: 1px solid;
}
}

@media (max-width:480px) {
.banner-slider {
  padding: 0px;
}
.announcement-bar p, .announcement-bar a {
    padding: 10px 40px;
}
.announcement-bar .close {
    right: 0px;
}
}



/* ========== ABOUT SECTION ========== */
 .marquee {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
      background: #f8f8f8;
      padding: 10px 0;
      position: relative;
    }

    .marquee-content {
      display: inline-block;
      white-space: nowrap;
      will-change: transform;
    }

.marquee-text {
	font-size: 12px;
	display: inline-block;
	padding-right: 20px; 
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 2px;
	color: #656a3e;
text-transform:uppercase;
}
/* ========== THREE COLUMN  collection slider SECTION ========== */
.three-column-collectionslider {
    padding: 10px;
    position: relative;
}

.three-column-collectionslider .single-slide {
    background: #37312f;
    height: 49.71vw;
}
.three-column-collectionslider .content {
    padding: 40px;
    position: relative;
    z-index: 2;
}
.three-column-collectionslider .content .link-primary{
color:white;
}

@media only screen and (max-width: 768px) {
   .three-column-collectionslider .single-slide {
        height: 64vw;
    }
.swiper-prev-product, .swiper-next-product {
    position: absolute;
    top: 50%;
    z-index: 9;
}

.swiper-next-product {
    right: 0px;
}
}
@media only screen and (max-width: 599px) {
   .three-column-collectionslider .single-slide {
        height: 80vw;
    }
}
@media only screen and (max-width: 480px) {
   .three-column-collectionslider .single-slide {
        height: 125vw;
    }
}


/* ========== Full Video section ========== */

.video-section {
    position: relative;
    padding: 210px 10px 150px;

}
.video-section h2 {
    color: white;
    font-weight: 500;
}
.video-section .image-section {
    position: absolute;
    width: calc(100% - 20px);
    height: 100%;
    left: 10px;
    top: 0;
}
.video-section .image-section:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    opacity: .4;
    background: #000;
    content: "";
}

.video-section .image-section img {
    width: 100%;
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.video-section .container-1280{
position:relative;z-index:2;
}



/* ========== half image half-product ========== */
.product-slider-with-heading{
padding: 100px 0;
    overflow: hidden;
    position: relative;
}
.product-slider-with-heading .heading {
    width: 260px;
    margin-right: 30px;
    flex: none;
}
.product-slider-with-heading .block-inner {
    position: relative;
    z-index: 3;
}
.product-section {
    position: relative;
    width: calc(100% - 240px);
overflow:hidden;
}
.next-product {
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: 9;
}
.product-slider-with-heading .product-slide {
    cursor: pointer;
    width: 240px;
}

.product-slider-with-heading .content {
    padding: 30px;
    background: #fff;
}

.product-slider-with-heading .content span {
    color: black;
}

.product-slider-with-heading .rating {
    display: flex;
    align-items: center;
    gap: 7px;
    padding-top: 10px;
}

.product-slider-with-heading .rating img {
    width: 60%;
    height: 20%;
}

.product-slider-with-heading .product-slider-with-heading {
    padding: 100px 0;
    overflow: hidden;
    position: relative;
}

.product-slider-with-heading .block-inner h2 {
    margin-bottom: 15px;
}

.product-slider-with-heading .block-inner a {
    margin-top: 30px;
}

.product-slider-with-heading .image-section {
    width: 100%;
    height: 180px;
    position: relative;
}

.product-slider-with-heading .image-section img {
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.product-slider-with-heading .price {
    margin-top: 20px;
    display: block;
}
.product-slider-with-heading .title {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #37312f;
}

@media(max-width:768px){
.product-section {
    width: 100%;
}
}

@media(max-width:768px){
.product-slider-with-heading .heading {
    width: 100%;
    margin-right: 0px;
}
}
/* ========== half image half content========== */
.half-image-half-content {
    background: url(../images/bg-texture.png);
    position: relative;
background-size: cover;
    
}
.half-image-half-content .container-1340{
padding: 80px;
}

.half-image-half-content .image-section {
    width: 50%;
    min-height: 480px;
    position: relative;
}

.half-image-half-content .image-section img {
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.half-image-half-content  .content {
    justify-content: center;
    padding: 0 10px 0 80px;
     width: 50%;
    display: flex;
    flex-direction: column;

}
.half-image-half-content .container-1340:last-child {padding-top: 80px;padding-bottom: 80px;}
.half-image-half-content .container-1340:last-child .image-section {
    order: 2;
}
.half-image-half-content .btn-primary {
    border: 1px solid #37312f;
    color: #37312f;
}
.half-image-half-content .container-1340:last-child .content {
    padding-left: 0px;
    padding-right: 80px;
}
.half-image-half-content .content h2 {
    margin-bottom: 15px;
}
.half-image-half-content .content a {
    margin-top: 30px;
    display: inline-block;
}
@media(max-width:768px){

.half-image-half-content .container-1340 {
    padding: 30px;
    flex-direction: column;
    gap: 30px;
}

.half-image-half-content .image-section {
    width: 100%;
}

.half-image-half-content .content {
    width: 100%;
    padding: 0px;
}

.half-image-half-content .container-1340:last-child {
    padding: 0px 30px;
}

.half-image-half-content .container-1340:last-child .image-section {
    order: unset;
}
.half-image-half-content .container-1340:last-child .content {
    padding-right: 0px; 
}

.half-image-half-content {
    padding-bottom: 100px;
}
.product-slider-with-heading .container-1340 {
    flex-direction: column;
    gap: 40px;
}
}

/* ========== Quote SECTION ========== */

.quote-overlay-section {
    padding: 230px 10px 210px;
    position: relative;
}
.quote-overlay-section .quote-img {
   position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    width: 150px;
    height: 150px;
     z-index: 4;
    margin: 0 auto;
}
.quote-overlay-section .quote-img img {
  width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    left: 0;
    top: 0;
}
 .quote-overlay-section .image-section:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    opacity: .4;
    background: #000;
    content: "";
}

.quote-overlay-section .image-section {
    position: absolute;
    left: 10px;
    top: 0;
    width: calc(100% - 20px);
    height: 100%;
    
}
.quote-overlay-section .image-section img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.quote-overlay-section .center-div {
    position: relative;
    z-index: 4;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 30px;
}
.quote-overlay-section .center-div h2, .quote-overlay-section .center-div p {
    color: white;
}
.quote-overlay-section .rating {
    margin: 15px 0px;
}
.quote-overlay-section .center-div a {
    margin-top: 30px;
}
/* ========== three column section ========== */
.three-column-section {
    padding: 0 0 100px;
    margin-top: -40px;
    z-index: 5;
    position: relative;
}
.three-column-section ul li {
width: 29.33%;
    /* margin-left: 60px; */
    cursor: pointer;
    background: #fff;
    list-style: none;
}
.three-column-section ul {
   width: 100%;
    justify-content: center;
    gap: 60px;
}

.three-column-section .column-inner .image-section {
    position: relative;
    height: calc(33.333vw - 60px);
    max-height: 400px;
    display: block;
    width: 100%;
}

.three-column-section .column-inner a img {
    position: absolute;
   left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.three-column-section .content {
    padding: 30px;
    background: #fff;
}
@media (max-width:991px) { 
.three-column-section ul {
    gap: 50px;
}
}
@media (max-width:768px) { 

.three-column-section ul {
    flex-direction: column;
}

.three-column-section ul li {
    width: 100%;
}
.three-column-section .column-inner .image-section {
    height: calc(100vw - 20px);
    max-height: none;
}
}
/* ========== instagram SECTION ========== */
.four-column-layout ul {
    display: flex;
    flex-wrap: wrap;
}
.four-column-layout ul li {
    width: 20%;
    padding-left: 10px;
    margin-bottom: 10px;
}
.four-column-layout li:nth-child(2), .four-column-layout li:nth-child(7) {
    width: 40%;
}
.four-column-layout li a {
    display: block;
    width: 100%;
    height: calc(20vw - 10px);
    position: relative;
    cursor: pointer;
}
.four-column-layout  li a img {
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    appearance: none;
}
.four-column-layout ul li:nth-child(1) a {
    padding: 30px 20px;
    position: relative;
    z-index: 4;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    color: black;
}
.four-column-layout .content svg {
    margin: 0px auto;
}

.four-column-layout .content h2 {
      font-weight: 500;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -.5px;
    text-transform: capitalize;
}

.four-column-layout  li  a span{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 2px;
}
.four-column-layout .content {
    z-index: 3;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.four-column-layout .content  h2{
color:white;
}
@media(max-width:991px){
  .four-column-layout .content h2 {
    font-size: 20px;
}
.four-column-layout li a {
    height: calc(33.33vw - 10px);
}
}
@media(max-width:699px){
.four-column-insta-section li a {
    height: calc(50vw - 10px);
}
.four-column-layout li:nth-child(2), .four-column-layout li:nth-child(7) {
    width: 100%;
}
.four-column-layout ul li{
  width: 50%;
}
.four-column-layout ul li.title {
    width: 100%;
     height: calc(100vw - 20px);
}
}
/* ========== SINGLE IMAGE SECTION ========== */
.single-image-section .image-section {
  background: #fff;
}
/* ========== FOOTER SECTION ========== */
.footer {
    background: url(../images/footerbg.webp) center center / cover #37312f;
    padding: 99px 0 21px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding: 30px 40px;
}
.footer-left {
  flex: 1 1 200px;
  padding-right: 40px;
  position: relative;
}

.footer-left:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 225px;
  opacity: 0.3;
  background: #fff;
  right: 0px;
}

.footer-newsletter {
width:400px;
}

.footer-newsletter h3 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
}

.form-section {
  padding: 30px 0 40px;
}
.footer-newsletter p {
    font-size: 34px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -.5px;
    margin: 0 0 15px;
}
.footer-column {
    width: 25%;
    padding-left: 40px;
}
.footer-newsletter span {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #fff;
}
.footer-newsletter form {
    display: flex;
    align-items: center;
    max-width: 500px;
    border-bottom: 1px solid #dcd6ce;
    padding: 10px 20px;
    border: solid 1px #fff;
    background-color: rgba(255, 255, 255, 0.05);
}

.footer-newsletter input[type="email"] {
  flex: 1;
  padding: 10px 0;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.footer-newsletter input[type="email"]::placeholder {
  color: #fff;
  font-size: 14px;
}
.footer-newsletter button {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: right;
    color: #bdbb83;
}
.social-icons li a {
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-links {
  display: flex;
  flex: 1 1 300px;
 justify-content:space-between;
padding-left: 40px;
}

.footer-column h4 {
  font-size: 15px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 12px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
}

.footer-column ul li a:hover {
  opacity: 1;
}
.footer-newsletter p {
    color: white;
}
.footer-bottom .container-1440 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 30px;
}

.footer-bottom a,
.footer-bottom p {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.accordion-toggle svg {
  display: none;
}

@media(max-width:991px){
  .footer {
    padding: 60px 30px;
}
.footer-container {
  flex-direction: column;
}
.footer-left:after {
  display: none;
}
.footer-newsletter {
    margin: 0 auto;
    flex: 2 1 290px;
    flex-direction: column;
    padding: 0;
    max-width: 540px;
    width: 100%;
}

.footer-links {
    padding-top: 20px;
    display: block;
    flex: 1 1 132px;
    max-width: 540px;
    margin: 0 auto;
    width: 100%;
    padding-left: 0;
}
.footer-newsletter button {
    gap: 0px;
    position: relative;
}
.footer-newsletter button:before {
    content: '';
    position: absolute;
    height: 41px;
    width: 1px;
    background: white;
    left: 6px;
}
.footer-links ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}
.accordion-toggle svg {
  display: none;
}
.footer-links ul.open {
  max-height: 500px; 
  transition: 1s;
}
h4.accordion-toggle.active svg {
  transform: rotate(-90deg);
}
.footer-column h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #fbf9f533;
}

.footer-column h4 svg {
    transform: rotate(90deg);
}
.footer-left {
    order: 2;
    text-align: center;
}
.footer-bottom .container-1440 {
    display: block;
    justify-content: center;
    text-align: center;
}
.footer-newsletter h3 {
    margin-bottom: 0px;
}
h4.accordion-toggle svg {
  display: block;
}
.footer-column {
    width: 100%;
    padding: 0px;
}
.footer-newsletter {
    flex: auto;
}

.footer-container {
    padding: 0px;
}
}
@media (max-width:340px){
.footer-newsletter input[type="email"] {
  width: 20%;
}
}
